* {
   margin: 0;
   padding: 0;
   line-height: 1.4em;
}

body{
   background: #F5F6F0 url(images/bg_body2.gif) repeat-x;
   font: 75%/170% Arial, Helvetica, sans-serif;
}

a{
   color: #2E719E;
}

hr{
   display: none;
}

#container{
   width: 860px;
   margin: 0 auto;
}

#header{
   position: relative;
   background: #F5F6F0 url(images/bg_body1.jpg);
   z-index: 500;
   height: 135px;
}

#header img{
   float: left;
   margin: 50px 0 0 15px;
}

#header h2{
   float: left;
   color: #9daeba;
   margin: 66px 0 0 35px;
   font: normal 30px/100% Arial, Helvetica, sans-serif;
}

#header h2 a{
   display: inline;
   color: #fff;
   text-decoration: none;
}

#header #meta-nav{
   position: absolute;
   top: 7px;
   right: 0;
}

#header #meta-nav li{
   float: left;
   color: #8E9EAA;
   padding: 0 9px 0 11px;
   background: url(images/bg_meta-nav_li_a.gif) no-repeat left center;
   font-size: 1em;
   list-style: none;
}

#header #meta-nav li.first{
   background: none;
}

#header #meta-nav a{
   color: #8E9EAA;
   text-decoration: none;
   outline: 0;
}

#header #meta-nav a:hover{
   color: #FFF;
   text-decoration: underline;
}

#search-theme-form {
   position: absolute;
   z-index: 5;
   bottom: -48px;
   right: 0px;
   width: 227px;
}

body#home #search{
   display: none;
}

#searchform #search_theme_form_keys, #edit-search-theme-form-keys{
   display: block;
   float: left;
   width: 130px;
   margin-right: 5px;
   padding: 6px 3px 4px;
   border: 1px solid #c1c7d7;
   background: #FFF url(images/bg_search_term.gif) repeat-x;
   color: #696B64;
   font-size: 1em;
   font-family: "Lucida Grande", Arial, Helvetica, Verdana, Tahoma, sans-serif;
}

#header #edit-submit.form-submit {
   float: left;
   border: none;
   display: block;
   width: 68px;
   height: 27px;
   background: url(images/bg_search_go.gif) no-repeat;
  
}

#nav{
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 999;
   list-style: none;
}

#nav li{
   float: left;
   margin-right: 3px;
   background: url(images/bg_nav_li2.gif) no-repeat right top;
   font-size: 1em;
}

#nav li.active{
   background-position: right bottom;
}

#nav li a{
   float: left;
   display: block;
   height: 20px;
   padding: 5px 14px 0;
   background: url(images/bg_nav_li_a2.gif) no-repeat left top;
   color: #9BAAB5;
   text-decoration: none;
}

#nav li.active a{
   background-position: left bottom;
   color: #27333A;
}

#nav li:hover,
#nav li.sfhover{
   background-position: right -30px;
}

#nav li.active:hover,
#nav li.sfhover.active{
   background-position: right bottom;
}

#nav li:hover a,
#nav li.sfhover a{
   background-position: left -30px;
   color: #FFF;
}

#nav li.active:hover a,
#nav li.sfhover.active a{
   background-position: left bottom;
   color: #27333A;
}

#nav li#nav_home.active{
   background-position: right top;
}

#nav li#nav_home.active a{
   background-position: left top;
   color: #9BAAB5;
}

#nav li.active#nav_home:hover,
#nav li.active.sfhover#nav_home{
   background-position: right -30px;
}

#nv li.active#nav_home:hover,
#nav li.active.sfhover#nav_home a{
   background-position: left -30px;
   color: #FFF;
}

#nav li ul{
   clear: left;
   position: absolute;
   left: -999em;
   z-index: 999;
   width: 161px;
   margin-top: 30px;
   margin-left: -1px;
   _margin-top: 0; /* IE6 only */
   border: 1px solid #BABEB1;
   border-top: 0;
   border-bottom: 0;
   list-style: none;
   line-height: 1;
}

*+html #nav li ul{
   margin-top: 0;
}

#nav li li{
   display: inline;
   _display: block;
   float: none;
   _float: left;
   margin: 0;
   font-size: .9167em;
   text-transform: none;
}

#nav li ul ul{
   margin: -30px 0 0 161px;
}

#nav li:hover ul ul,
#nav li.sfhover ul ul{
   left: -999em;
}

#nav li:hover ul,
#nav li li:hover ul,
#nav li.sfhover ul,
#nav li li.sfhover ul{
   left: auto;
}

#nav li li li{
   font-size: 1em;
}

#nav li:hover li a,
#nav li.sfhover li a{
   float: none;
   width: 133px;
   height: auto;
   padding: 9px 14px;
   border-top: 1px solid #FBFCFE;
   border-bottom: 1px solid #D3D6CD;
   background: #F1F3EE;
   color: #384751;
}

#nav li:hover li a:hover,
#nav li.sfhover li a:hover{
   background: #DDEAF3;
}

#content-wrap{
   float: left;
   width: 860px;
   margin-top: 66px;
   background: url(images/bg_content-wrap.gif) repeat-y 612px 0;
}

body#home #content-wrap{
   margin-top: 26px;
   background: none;
}

.breadcrumb {
   position: relative;
   z-index: 5;
   margin-top: -40px;
   margin-bottom: 36px;
   color: #384751;
   font-size: 1em;
   font-weight: normal;
}

.breadcrumb a {
   text-decoration: none;
}

.breadcrumb a:hover {
   color: #272D2F;
}

#content{
   display: inline;
   float: left;
   width: 565px;
   margin-left: 14px;
   margin-bottom: 25px;
}

body#home #content{
   width: 860px;
   margin: 28px 0 35px;
}

body#no-sidebar #content{
   width: 846px;
}

#content h1, #content h1 a{
   color: #2E719E;
   font-size: 1.6em;
   margin-top: 20px;
   margin-bottom: 8px;
   padding-bottom: 8px;
   line-height: 120%;
   letter-spacing: -.03em;
}

#content h2{
   color: #2E719E;
   font-size: 1.2em;
   margin: 6px 0;
   padding-bottom: 4px;
   border-bottom: 1px dotted #cacbcd;
   line-height: 120%; 
}

#content h2 a{
   text-decoration: none;
   line-height: 120%;
}

#content h3{
   color: #2E719E;
   font-size: 1.2em;
   margin: 4px 0;
   line-height: 120%; 
}

#content h3 a{
   text-decoration: none;
   line-height: 120%;
}

#content #mission {
   position: relative;
   z-index: 5;
   margin-top: -48px;
   margin-bottom: 36px;
   color: #384751;
   font-size: 1.8em;
   font-weight: normal;
   letter-spacing: -.03em;
}

#content p,
#content ul,
#content ol,
#content td{
   margin-bottom: 1em;
   color: #272D2F;
   font-size: 1em;
   line-height: 1.4em;
}

#content blockquote{
   margin-left: 3em;
}

#content hr{
   display: block;
   margin-bottom: 1em;
}

#content a:hover{
   text-decoration: none;
}

#sidebar{
   display: inline; /* IE6 double margin float bug hack */
   width: 216px;
   float: right;
   margin: 19px 14px 0 0;
}

#sidebar #subnav-wrap{
   padding: 10px 15px 10px 15px;
   margin-bottom: 20px;
   background: url(images/bg_subnav-wrap.gif) no-repeat left bottom;
}

#sidebar h3{
   width: 201px;
   padding: 10px 6px 7px 9px;
   background: url(images/bg_subnav.gif) no-repeat left top;  
   display: block;
   border-bottom: 1px solid #f5f6f0;
   font: bold 14px/100% Arial, Helvetica, sans-serif;
   color: #384751;
   text-align: center;
   text-decoration: none;
   letter-spacing: -.02em;
}

#sidebar a, #sidebar a:visited {
	color: #000000;
	text-decoration:none;
}
#sidebar a:hover, #sidebar a:focus, #sidebar a:active {
	text-decoration:underline;
}
#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 0px;
}
#sidebar ul li {
	background: url(images/bullet-orange.gif) no-repeat 2px -.0em;
	padding-left: 18px;
	margin-left: 0px;
	list-style-type: none;
	list-style-image: none;
}
#sidebar ul li ul li {
	background: url(images/bullet-grey.gif) no-repeat 1px .0em;
	padding-left: 12px;
	margin-left: 0px;
	list-style-type: none;
	list-style-image: none;
}
ul.menu li, li.leaf {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/bullet-orange.gif) no-repeat 1px .1em;
}
ul.menu li.expanded {
	background: transparent url(images/menu-expanded.gif) no-repeat 1px .4em;
}
ul.menu li.collapsed {
	background: transparent url(images/menu-collapsed.gif) no-repeat 1px .4em;
}
ul.menu li.leaf a, ul.menu li.expanded a, ul.menu li.collapsed a {
	display: block;
}
ul.menu, .item-list ul {
	margin: 0.35em 0 0 -0.5em;
	padding: 0;
	text-align: left;
}

#footer-outer{
   clear: both;
   padding: 15px 0 15px;
   border-top: 5px solid #cacbcd;
   background: #d8d9da;
}

#footer{
   width: 798px;
   height: 27px;
   margin: 0 auto;
   font-size: 0.9em;
   padding: 15px 18px 0 44px;
   color: #5a6265;
   border: 1px solid #cacbcd;
   background: #dbdcdd url(images/bg_footer.gif) no-repeat 14px center;
}

#footer p.copy{
   float: right;
   margin: -15px 0 0 0;
   font-size: 10px;
   background-color:#cacbcd;
   padding: 0 5px 0 5px;
}

#footer p.copy a{
   display: block;   
   color: #ebecec;
   text-decoration: none;
}

#footer #footer-nav{
   display: inline; /* IE6 double margin float bug hack */
   float: left;
   margin-left: 21px;
}

#footer #footer-nav li{
   float: left;
   padding: 0 9px 0 11px;
   background: url(images/bg_footer-nav_li.gif) no-repeat left center;
   font-size: 1.2em;
   list-style: none;
}

#footer #footer-nav li#footer-nav_home{
   background: none;
}

#footer #footer-nav a{
   color: #94A5AF;
   text-decoration: none;
}

#footer #footer-nav a:hover,
#footer #footer-nav .current a{
   color: #F9FAF8;
   text-decoration: underline;
}

#footer #footer-nav li li{
   display: none;
}

.post {
	padding: 0px;
	clear: both;
	overflow: hidden;
}
.post .date {
	height: 50px;
	width: 45px;
	background: url(images/calendar.gif) no-repeat;
	font: normal 22px Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: center;
	padding: 0px 2px 0 0;
	line-height: 100%;
	float: left;
}
.post .date span {
	height: 16px;
	display: block;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	padding-top: 5px;
}
.post .title {
	float: left;
	margin-left: 10px;
	width: 438px;
}
.meta {
	padding-bottom: 5px;
}	
	
.submitted {
	font-size: 90%;
	color: #999999;
}
.submitted a, .submitted a:visited {
	color: #999999;
	text-decoration: none;
}
.submitted a:hover {
	color: #44a1d0;
	text-decoration: none;
}
.submitted .category{
	background: url(images/mini-category.gif) no-repeat;
	padding-left: 18px;
	float: left;
}
.submitted .comments{
	background: url(images/mini-comment.gif) no-repeat;
	padding-left: 18px;
	float: right;
}
.mini-add-comment {
	background: url(images/mini-down-arrow.gif) no-repeat left center;
	padding-left: 12px;
	float: right;
}
.entry {
	padding: 10px 0px 5px;
	clear: both;
}

.post-nav {
	clear: both;
	padding-bottom: 35px;
	margin-top: -15px;
	font-size: 95%;
}
.post-nav a, .post-nav a:visited {
	color: #999999;
	text-decoration: none;
}
.post-nav a:hover {
	color: #000000;
	text-decoration: none;
}
.post-nav .previous a {
	float: left;
	padding-left: 20px;
	background: url(images/post-nav-previous.gif) no-repeat left center;
}
.post-nav .next a {
	float: right;
	padding-right: 20px;
	text-align: right;
	background: url(images/post-nav-next.gif) no-repeat right center;
}

.node {
	padding-bottom: 15px;
}

.parser {
	font-size: 80%;
	background: url(images/mini-blogroll.gif) no-repeat left center;
	padding-left: 20px;
	margin-left: 8px;
	float: left;
}

.smlink {
	float: left;
	font-size: 80%;
}

.node_read_more a {
	background: url(images/mini-down-arrow.gif) no-repeat left center;
	padding-left: 15px;
	font-size: 90%;
}
.more-link a {
	background: url(images/mini-more.gif) no-repeat left center;
	padding-left: 15px;
	font-size: 9px;
}
.comment_comments a {
	background: url(images/comments.gif) no-repeat;
	padding-left: 26px;
	clear: both;
}
.poll .bar {
	height: 14px;
	background-color: #D4E2F2;
}
.poll .bar .foreground {
	background: url(images/bg-poll.gif) repeat-x;
	height: 14px;
	clear: none;
	float: left;
}
.poll .vote-form {
	text-align: center;
}
.poll .vote-form .choices {
	padding-left: 5%;
	text-align: left;
	display: block;
}
.comment_add a {
	background: url(images/mini-comment.gif) no-repeat left center;
	padding-left: 20px;
	font-size: 90%;
}
li.comment_delete a {
	background: url(images/mini-trash.gif) no-repeat 0 2px;
	padding-left: 15px;
}
li.comment_edit a {
	background: url(images/mini-edit.gif) no-repeat 0 2px;
	padding-left: 15px;
}
li.comment_reply a {
	background: url(images/mini-comments.gif) no-repeat 0 2px;
	padding-left: 15px;
}
.blog_usernames_blog a {
	background: url(images/mini-user.gif) no-repeat left center;
	padding-left: 20px;
}

.center {
	text-align: center;
}
img.center, img[align="center"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.left {
	float: left;
}
img.left, .field-type-image, img[align="left"] {
	float:left;
	margin: 2px 20px 5px 0px;
}
.right {
	float: right;
}
img.right, img[align="right"] {
	float:right;
	margin: 2px 0px 5px 20px;
}
.clear {
	clear:both;
}
hr.clear {
	clear:both;
	visibility: hidden;
	margin: 0px;
	padding: 0px;
}
.hidden {
	clear: both;
	visibility: hidden;
}
table {
	margin: 0.5em 0 1em 0;
	width: 100%;
}
thead th {
	border-bottom: 2px solid #AAB5C3;
	color: #678;
	font-size: 90%;
	font-weight: bold;
	background: url(images/bg-thead.gif) repeat-x bottom left;
	padding: 4px 5px 0 5px;
}
tr.even, tr.odd {
	border-color: #DADCE0;
}
tr.even {
	background-color: #fbfcfe;
}
tr.odd {
  background-color: #fff;
}
td.active {
  background: #e4ecf5;
}
td {
  padding: 3px;
}
td.menu-disabled {
  background-color: #E5E5E5;
}

.sticky {
	padding: 8px 15px 15px 15px;
	background-color: #fbfbfb;
	border: 1px solid #e4e3e3;
	margin-bottom: 20px;
}
.form-item {
	font-size: 11px;
}
.picture {
	float:left;
	margin: 4px 10px 2px 0;
}
#forum td.container {
	font-size: 14px;	
	font-weight: bold;
	background-color: #567db9;
	padding: 1px 0 1px 8px;
}
#forum td.container a {
	color: #fff;
}

.terms {
	font-size: 80%;
	float: right;
}
.terms a { 
	padding: 1px 0px;	
	text-decoration: none;
	background: url(images/mini-category.gif) no-repeat 0px -2px;
	padding-left: 20px;
	color: #999999;	
}

ul.node {
	padding-bottom: 20px;
}

.pager {
	clear: both;
	background: url(images/navigation-bg.gif) no-repeat left center;
	height: 21px;
	padding-top: 5px;
	margin-bottom: 25px;
}
.pager a, .pager a:visited {
	color: #ffffff;
	text-decoration: none;
}
.pager a:hover {
	color: #2e719e;
	text-decoration: none;
}
.pager-current {
	color: #2e719e;
}
